<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
      <div class="greeting"> 
        < こんにちは、 >
        <%= link_to "prototype", prototypes_index_path, class: :greeting__link%>
      </div>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: 'prototype', collection: @prototypes%>
       <a href="/users/<%= prototyope.user.id %>">
          <span>投稿者</span><%= prototype.user.nickname %>
        </a>
      </div>
  </div>
</main>
      
  